.castContent {
  width: 100%;
}
.castContent ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.castContent li {
  margin-right: 10px;
  list-style-type: none;
}
.castContent li:last-child {
  margin-right: 0;
}
